@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	align-items: center;
	margin: 0;
	padding: 0;
	background-color: #03A9F4;
	font-size: 18px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #607D8B;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #607D8B;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #607D8B;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #607D8B;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #607D8B;
}

.login, .register {
margin: 20px auto;
width: 300px;
}
.login-screen, .register-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}
.h1title {
    padding-bottom: 7.5px;
    color: black;
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
}
.app-title {
text-align: center;
color: #777;
}
.loginform, .registerform {
	text-align: center;
}

input{
font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
 font-style: normal;
 text-decoration: inherit;
padding: 10px 10px 10px 10px;
box-sizing: border-box;

background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
width: 250px;
transition: border .5s;
margin-top: 10px;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}


.loginbtn {
border: 2px solid transparent;
  background: #4CAF50;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
  cursor: pointer;
}

.registerbtn {
border: 2px solid transparent;
  background: #FF9800;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
  cursor: pointer;
}

.registerbtn:hover {
	background-color: #F57C00;
}

.loginbtn:hover {
  background-color: #388E3C;
}

.returnlink a, .link a, .terms a, .reset a {
	margin: 10px 10px 10px 0px;
	font-size: 14px;
	cursor: pointer;
}

* {
  box-sizing: border-box;
}

.burger {
  position: fixed;
  top: 20px;
  left: 20px;
  border: none;
}
.burger__button {
  display: block;
  position: relative;
  background: #2196f3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 8px -2px #333;
}

.burger__button:hover {
	  border: 0.2px solid black;
}
.burger__button.open {
  border: 2px solid #fff;
  box-shadow: none;
}
.burger__button__icon {
  display: inline-block;
  position: absolute;
  background: #fff;
  margin: 0 auto;
  width: 20px;
  height: 2px;
  top: 50%;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
  transform: translateY(-1px);
}
.burger__button__icon:before,
.burger__button__icon:after {
  content: "";
  position: absolute;
  margin: 0 auto;
  background: #fff;
  width: 20px;
  height: 2px;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}
.burger__button__icon:before {
  bottom: 10px;
}
.burger__button__icon:after {
  top: 10px;
}
.burger__button.open .burger__button__icon {
  background: transparent;
}
.burger__button.open .burger__button__icon:before,
.burger__button.open .burger__button__icon:after {
  transform-origin: 0 50%;
  width: 28.28427125px;
}
.burger__button.open .burger__button__icon:before {
  transform: rotateZ(0.78539816rad);
}
.burger__button.open .burger__button__icon:after {
  transform: rotateZ(-0.78539816rad);
}
.burger__menu {
  list-style-type: none;
    padding: 20px 20px 20px 20px;
    margin-top: 40px;
}
.burger__menu li {
  display: block;
  position: relative;
  margin: 15px 0;
  visibility: hidden;
  transition: all 0.5s ease;
  transform: translateX(-400px);
}
.burger__menu a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;

  font-weight: normal;
  transition: all 0.4s ease;
  border-left: 3px solid transparent;
  padding-left: 0;
}
.burger__menu a:hover {
  padding-left: 30px;
  border-left: 3px solid #fff;
}
.burger__button.open + .burger__menu li {
  transform: translateX(0);
  visibility: visible;
}
.feed {
	background-color: white;
}
